<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
</head>
<body>
<h1>{{ post.title }}</h1>
<h3>Author: <a href="{% url 'posts_by_author' post.author %}"> {{ post.author }} </a> </h3>
<h4>Categories:
    {% for category in post.categories.all %}
        {{ category.name }}
    {% endfor %}
</h4>
<h4>Published on: {{ post.published_at|date:"F d, Y" }}</h4>
<h4>Likes: {{ post.likes }}, Dislikes: {{ post.dislikes }}</h4>
<p>{{ post.content }}</p>
<h4>Comments:</h4>
{% for comment in comments %}
    <p>
        Author: {{ comment.author }},
        Created at: {{ comment.created_at }}
    </p>
    <p>
        {{ comment.content }}
    </p>
{% endfor %}

<p></p>
</body>
</html>